body {
  padding: 30px 0;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}
.intro {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
